header {
	padding: 50px;
	text-align: center;
}

header button {
	width: 200px;
	height: 50px;
	border-radius: 5px;
	background: red;
	color: #fff;
	font-size: 20px;
	border: 1px solid #eeeeee;
	cursor: pointer;
}

ul {
	text-align: center;
}

ul li {
	display: inline-block;
	vertical-align: top;
	margin: 20px;
	list-style: none;
	width: 50px;
	height: 50px;
	border: 1px solid #000;
	border-radius: 50%;
	line-height: 50px;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
}
